.app-layout {
  display: flex;
  height: 100vh;
}

/* 左侧菜单 */
.app-sider {
  width: 220px;      
  flex-shrink: 0;
  background: rgb(240, 239, 239) !important;
  transition: width 0.2s;
}
.app-sider.collapsed {
  width: 80px; 
}

/* 右侧整体 */
.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
}

/* 顶部栏 */
.app-header {
  height: 50px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(172, 170, 170, 0.08);
}

/* 内容区 */
.app-content {
  flex: 1;
  overflow: auto;
  //background-color: antiquewhite;
  padding: 16px;
}