.comment-page {
  width: 100%;

  .filter-row {
    display: flex;
    margin-bottom: 8px;
  }

  .batch-row {
    display: flex;
    margin-bottom: 12px;
  }

  .comment-table {
    width: 100%;

    .ant-table {
      width: 100%;
    }
  }
}
